
@{
    ViewData["Title"] = "Invite";
    Layout = "~/Views/Shared/_LayoutSemMenu.cshtml";
}

@using Multiplix.UI.Utils
@using Multiplix.Domain.Enums
@model Multiplix.Domain.DTOs.UsuarioDTO


@if (ViewBag.UserValido == "s")
{
    <h1>Você foi convidado a entrar na rede de <strong>@ViewBag.NomePatrocinador</strong> </h1>
    <h4>Cadastre-se agora para obter o seu acesso.</h4>

    <partial name="_componente_form_validation_fluent_messages_container" />

    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Dados para cadastro</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <form method="post" id="form-patrocinador" class="form form-horizontal">
                                <input type="hidden" name="PatrocinadorId" value="@ViewBag.PatrocinadorId" />
                                <input type="hidden" name="Nivel" value="@ViewBag.Nivel" />
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Dados pessoais</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Nome">Nome completo*</label>
                                                <input type="text" id="Nome" asp-for="Nome" class="form-control" placeholder="Nome" name="Nome">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="CPF">CPF*</label>
                                                <input type="text" id="CPF" asp-for="CPF" class="form-control cpf-formatter" placeholder="CPF" name="CPF">
                                            </div>
                                        </div>
                                    </div>

                                    <h4 class="form-section"><i class="ft-edit-3"></i> informações para contato</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Email">E-mail*</label>
                                                <input type="text" id="Email" asp-for="Email" class="form-control" placeholder="Email" name="Email">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Celular">Celular</label>
                                                <input type="text" id="Celular" autocomplete="off" asp-for="Celular" class="form-control phone-formatter" placeholder="Celular" name="Celular">
                                            </div>
                                        </div>
                                    </div>

                                    <h4 class="form-section"><i class="ft-check-square"></i> Plano de Assinatura*</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="PlanoAssinatura">Plano</label>
                                                <select id="PlanoAssinatura"
                                                        name="PlanoAssinatura"
                                                        class="has-select2"
                                                        data-select2-url="/PlanoAssinatura/PesquisaPlanoAssinatura"
                                                        data-js-callback-init-data="iniciar_PlanoAssinatura"
                                                        data-mapper-attr-id="PlanoAssinaturaId"
                                                        data-mapper-attr-text="PlanoAssinaturaNome">
                                                    <!-- Select2 -->
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <h4 class="form-section"><i class="ft-clipboard"></i> Dados de acesso</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Login">Login*</label>
                                                <input type="text" id="Login" asp-for="Login" autocomplete="off" class="form-control" placeholder="Login" name="Login">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h5>Confirme o login <span class="required">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" name="Login2" autocomplete="off" data-validation-match-match="Login" class="form-control mb-1" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Senha">Senha*</label>
                                                <input type="password" id="Senha" autocomplete="off" class="form-control" placeholder="Senha" name="Senha">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h5>Confirme a senha <span class="required">*</span></h5>
                                                <div class="controls">
                                                    <input type="password" name="Senha2" autocomplete="off" data-validation-match-match="Senha" class="form-control mb-1" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h4 class="form-section"><i class="ft-clipboard"></i> Termos e condições</h4>
                                    <section id="scroll-types">

                                        <div class="row match-height">
                                            <!-- Vertical Scroll -->
                                            <div class="col-xl-12 col-lg-12 col-md-12">
                                                <div class="card" style="">
                                                   
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <div class="card-text">
                                                                <p></p>
                                                            </div>
                                                            <div class="height-300" style="overflow-y: scroll">
                                                                <p style="align-items:center">
                                                                    <strong>                                                                        
                                                                        CONTRATO PARA AFILIADOS MULTIPLYX <br />
                                                                        TERMOS E CONDIÇÕES PARA AFILIADOS
                                                                    </strong>
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    A Multiplyx Marketing Ltda. sociedade empresária limitada, com
                                                                    sede no município de Natal, estado de Rio Grande do Norte, com
                                                                    sede provisória na rua Av. Praia de Ponta Negra CEP: 59094-100,
                                                                    devidamente registrada sob o CNPJ/MF nº 35.856.167/0001-33,
                                                                    opera uma Comunidade de Compras no Brasil, que permite aos
                                                                    seus Afiliados, conforme definido no Manual de negocios em Anexo,
                                                                    obterem pontos através da aquisição de bens e serviços de
                                                                    empresas parceiras. Para facilitar a compreensão você encontrará
                                                                    no Manual de negocios alguns termos necessarios para a
                                                                    compreensão do negocio
                                                                </p>

                                                                <p><strong>1. Objeto do Contrato</strong></p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    1.1. Os bens e serviços adquiridos pelos Afiliados nas Empresas
                                                                    Parceiras (“Compras”) são registrados no Programa da multiplyx.
                                                                    Para usufruir das vantagens da Multiplyx, o Afiliado tem à sua
                                                                    disposição as seguintes formas de registro das suas compras:
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    1.2 O Cartão Multiplyx está disponível em papel, plástico ou
                                                                    virtualmente através da web ou do aplicativo para dispositivos
                                                                    móveis. Não constitui um meio de pagamento, servindo
                                                                    exclusivamente para o registro de dados de compras. A forma de
                                                                    pagamento pelas Compras está sujeita aos meios de pagamento
                                                                    oferecidos e utilizados pelas respectivas Empresas Parceiras, não
                                                                    havendo qualquer ingerência por parte da Multiplyx nesse sentido,
                                                                    não se responsabilizando a Multiplyx pela ausência, falta, falha ou
                                                                    erro na forma de pagamento empregada pelas Empresas Parceiras.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    1.2.1. Ao efetuar compras o Afiliado pode:
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    (a) acessar à Empresa Parceira (conferir no seu app se está ativa) e
                                                                    consumir qualquer produto que esteja associado á Multiplyx, no ato
                                                                    do pagamento dá o seu ID para o registro de dados de compra. As
                                                                    compras apenas poderão ser registradas se o sistema utilizado
                                                                    pelos Afiliados durante o processo de compra permitir (ativo), bem
                                                                    como o do parceiro (ativo)
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    1.2.2. A Empresa Parceira transmite a compra registrada e os
                                                                    dados de faturamento à Multiplyx para o cálculo dos Pontos de
                                                                    Afiliado resultante das compras.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    1.3. O Afiliado está autorizado, de acordo com os presentes Termos
                                                                    e Condições para Afiliados, a participar do Plano da Multiplyx e a
                                                                    receber Benefícios de Compras.

                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    <strong> 2. Base Contratual</strong>
</p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    2.1 Identificar um afiliado ativo na MULTIPLYX, que possa orientá-lo
                                                                    a cumprir as etapas seguintes no desenvolvimento de seus
                                                                    negócios, com número de ID valido.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    2.2 Receber o link de entrada para se cadastrar e/ou preencher e
                                                                    assinar os dados da ficha Cadastral de afiliado da MULTIPLYX, e
                                                                    ler as informações básicas no plano de negócios, para o início de
                                                                    suas atividades;
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    2.3 O cadastro somente será validado mediante confirmação do
                                                                    pagamento inicial de adesão.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    Mediante a aceitação do pedido de cadastro pela Multiplyx, o
                                                                    requerente torna-se um Afiliado Multiplyx e recebe um número de
                                                                    identificação pessoal, não transmissível (“ID de Afiliado”).
                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    2.4 Para receber qualquer tipo de bónus o Cadastro original tem
                                                                    que estar devidamente preenchido e entregue juntamente com
                                                                    todos os documentos necessários.
                                                                    O recebimento da cópia de todos os documentos de pessoa física,
                                                                    bem como a via do Cadastro de afiliado da MULTIPLYX
                                                                    devidamente assinada é condição essencial para que o afiliado da
                                                                    MULTIPLYX participe do Plano de Marketing e receba os bônus a
                                                                    que tiver direito.
                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    2.5. O comprovante legal de identificação. (cópia do RG e CPF/MF
                                                                    ou carteira de motorista com foto) e um comprovante de residência
                                                                    (conta de luz, telefone ou gás), (são documentos necessários e
                                                                    obrigatórios para poder receber os bónus a que tiver direito).
                                                                    Isso lhe dará o direito de participar do Plano da Multiplyx (e não
                                                                    constitui qualquer tipo de associação entre as Partes). A
                                                                    participação no Plano da Multiplyx, não implica em qualquer tipo de
                                                                    vínculo empregatício entre o Afiliado e a multiplyx (conforme
                                                                    explicado na clausula 3.1).
                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    2.6 O Afiliado declara que as informações fornecidas por ele à
                                                                    Multiplyx são corretas, e que será responsável por indenizar a
                                                                    Multiplyx pela falsidade das mesmas que afete, ou possa afetar, a
                                                                    Multiplyx, e que a manterá isenta de falsas declarações culposas. O
                                                                    Afiliado compromete-se em informar a Multiplyx, sem demora
                                                                    injustificada, de quaisquer possíveis alterações relativas aos dados
                                                                    pessoais fornecidos no momento do cadastro (em especial, o
                                                                    endereço residencial, e-mail, dados bancários, número de telefone,
                                                                    etc.).
                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    2.7 Para cada pessoa física é permitido apenas um único cadastro (
                                                                    um ID de Afiliado). No cadastro deve ser informado o endereço
                                                                    residencial dos Afiliados. Cadastros duplicados com o objetivo de
                                                                    obter Pontos de Afiliado não autorizados são causa fundamentada
                                                                    para o encerramento do contrato por parte da Multiplyx, assim como
                                                                    para negar o pagamento dos Bonus de Afiliado que sejam obtidos
                                                                    dessa forma. No caso de cadastros duplicados, os IDs de Afiliado
                                                                    mais recentes serão excluídos. Os Pontos de Afiliado que resultem
                                                                    apenas de cadastro duplicado, deverão ser cancelados.
                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    2.8 Para um afiliado se manter ativo, tem que renovar a adesão
                                                                    anualmente e deverá consumir apenas R$1,00 (um real)
                                                                    mensalmente de qualquer produto ou serviço da MULTIPLYX.
                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    <strong> 3. Relação Jurídica</strong>
</p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    3.1 O Afiliado não é sócio, não será estabelecido entre a Multiplyx e
                                                                    o Afiliado nenhum tipo de relação de emprego, agência ou joint
                                                                    venture, nenhuma forma de associação, mandato, representação,
                                                                    comissão ou agenciamento, de prestação de serviços ou relação
                                                                    empresarial, não é subordinado, nem cumpre horário, sendo
                                                                    inteiramente livre para decidir como e quando exercer suas
                                                                    atividades. A MULTIPLYX não é responsável pelo pagamento total
                                                                    ou parcial de benefícios aos afiliados, ou a empregados por eles
                                                                    contratados. A participação no Plano da Multiplyx e a
                                                                    recomendação de outros Afiliados será realizada exclusivamente no
                                                                    âmbito de uma atividade independente, profissionalmente autônoma
                                                                    e juridicamente independente da Multiplyx. Os Afiliados não
                                                                    deverão representar a si mesmos, de forma alguma, oralmente ou
                                                                    por escrito, como sendo agentes ou empregados da Multiplyx. Os
                                                                    Afiliados não têm autoridade para vincular a Multiplyx a qualquer
                                                                    obrigação. Os Afiliados são responsáveis por toda e qualquer
                                                                    despesa resultante de suas atividades de Afiliado, incluído,
                                                                    impostos e/ou outras taxas.
                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    3.2 O Afiliado apenas terá direito aos Pontos de Afiliado. O Afiliado
                                                                    não possui o direito de receber qualquer remuneração que se
                                                                    estenda para além disso. O Afiliado não tem direito de reembolso
                                                                    de despesas, inclusive nos casos de o Afiliado recomendar o Plano
                                                                    da Multiplyx.
                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    3.3 O Afiliado não está autorizado a representar a Multiplyx, a fazer
                                                                    ou aceitar declarações com relação a outros Afiliados no âmbito do
                                                                    Plano da Multiplyx e/ou para efeitos de recrutamento de novos
                                                                    Afiliados. O Afiliado não está autorizado a receber dinheiro ou a
                                                                    efetuar o recolhimento de pagamentos em nome da Multiplyx. A
                                                                    violação da presente Cláusula 3.3 dará à Multiplyx o direito de
                                                                    rescindir o contrato por justa causa independentemente de qualquer
                                                                    notificação ou aviso prévio.
                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    3.4 O Afiliado não poderá, sem prévia autorização por escrito
                                                                    Multiplyx:
                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    (a) usar logotipos, slogan, marcas registradas, domínios, outros
                                                                    símbolos e ou itens semelhantes da Multiplyx ou das Empresas
                                                                    Parceiras;

                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    (b) criar cartões de visita, apresentações, vídeos, arquivos de áudio,
                                                                    imagens, conteúdo de web, conteúdo de comunicação social, flyers,
                                                                    sites, materiais publicitários, publicidade não endereçada, e-mails,
                                                                    homepages ou similares, que estejam relacionados com ou que
                                                                    façam referência à Multiplyx ou ao Plano da Multiplyx, com intuito
                                                                    de os divulgar por escrito, ou eletronicamente ou de qualquer outra
                                                                    forma ou torná-los publicamente acessíveis (por exemplo, páginas
                                                                    no Facebook, Youtube, Instagram ou outras);
                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    (c) realizar eventos, por exemplo, eventos informativos, workshops,
                                                                    seminários, etc., relacionados com e que façam referência à
                                                                    Multiplyx ou ao Plano da Multiplyx.

                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    (d) recrutar, como Empresa Parceira ou como Afiliados, varejistas,
                                                                    atacadistas e outros distribuidores, assim como outras empresas
                                                                    que ofereçam produtos ou serviços para os consumidores finais,
                                                                    incluindo postos de combustível, franqueados e lojas de
                                                                    departamento, com o intuito de conduzir negociações ou discussões
                                                                    iniciais ou prosseguir com uma atividade publicitária de qualquer
                                                                    gênero visando o recrutamento de tais empresas, em particular, nas
                                                                    instalações da empresa ou nas suas imediações.
                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    (e) usar quaisquer direitos de propriedade intelectual da Multiplyx ou
                                                                    de Empresas Parceiros, de qualquer natureza, existentes em
                                                                    qualquer lugar do mundo, agora ou no futuro, registrados ou não,
                                                                    bem como quaisquer aplicações e renovações para estes, incluindo
                                                                    direitos de autor, patentes, marcas, direitos de banco de dados de
                                                                    propriedade intelectual, direitos de design, os nomes de domínios,
                                                                    os direitos de know-how e informações confidenciais.
                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    <strong> 4. Plano da Multiplyx</strong>
</p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    4.1 Ao fazer compras nas Empresas Parceiras, o Afiliado recebe
                                                                    pontos, de acordo com o plano de negocio da multiplyx.
                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    4.2 Com o propósito de poder conceder Pontos de Afiliado, a
                                                                    Multiplyx celebra acordos com as Empresas Parceiras. As
                                                                    Empresas Parceiras atuais, incluindo os Pontos de Afiliado
                                                                    oferecidos em cada caso, podem ser consultados em
                                                                    www.multiplyx.com.br ou no aplicativo (APP) ou ainda via web.
                                                                </p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    <strong>5. Compras</strong>
</p>
                                                                <p align="justify" style="margin-right:8px">
                                                                    5.1 A Multiplyx não tem qualquer influência sobre o design das lojas
                                                                    das Empresas Parceiras e também não é responsável por estes.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    <strong>6. Benefícios de Afiliados do Plano Multiplyx</strong>
</p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    6.1 As compras feitas pelo Afiliado que tenham sido registradas no
                                                                    Plano da Multiplyx, nos termos da cláusula 6.4, tornam esse Afiliado
                                                                    elegível para receber os Pontos de Afiliado. Os Pontos de Afiliado
                                                                    são baseados nas condições contratualmente acordadas entre a
                                                                    Multiplyx e as respectivas Empresas Parceiras e, portanto, variam
                                                                    de acordo com a Empresa Parceira, seu setor e seu país. Os
                                                                    Pontos de Afiliado consistem no Plano da Multiplyx (Cláusula 6.1.1),
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    6.1.1. Plano da Multiplyx: para as compras que sejam registradas
                                                                    no Plano da Multiplyx, o Afiliado receberá de 0 (zero) a 21% (vinte e
                                                                    um por cento), de acordo com o nivel em que se encontre, que pode
                                                                    variar mensalmente.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    6.2 A Multiplyx reserva-se o direito de, no âmbito de ofertas
                                                                    especiais, de fazer as alterações que achar necessárias, a seu
                                                                    único e exclusivo critério. A Multiplyx está empenhada em oferecer
                                                                    aos seus Afiliados as melhores oportunidades de compras com as
                                                                    Empresas Parceiras e, dessa forma, está interessada em acordar
                                                                    com as mesmas, descontos substanciais a fim de conceder aos
                                                                    Afiliados benefícios significativos.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    6.3. Os Afiliados deverão manter-se informados das condições
                                                                    oferecidas pelas Empresas Parceiras, consultando os pontos
                                                                    oferecidos em nosso site ou aplicativo. A Multiplyx está autorizada a
                                                                    alterar os pontos de Afiliado concedidos por Empresas Parceiras, se
                                                                    e quando as condições acordadas com a Empresa Parceira forem
                                                                    alteradas mediante notificação prévia. As condições aplicadas no
                                                                    momento em que o Afiliado pagou integralmente sua compra serão
                                                                    usadas para calcular os pontos de Afiliado.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    6.4 Para que os Pontos de Afiliado sejam creditados, a compra feita
                                                                    pelo Afiliado deverá ter sido integralmente paga. Se estas
                                                                    condições forem cumpridas, as Empresas Parceiras deverão
                                                                    confirmar a compra a fim de que ela seja reconhecida e faturada
                                                                    pela Multiplyx. Os Pontos de Afiliado referentes a compras
                                                                    efetuadas e faturadas à Multiplyx pelas Empresas Parceiras até às
                                                                    24h00 do último dia de cada mês, serão creditados aos Afiliados
                                                                    (Pontos de Afiliado) nesse mesmo mês. A Multiplyx obriga as
                                                                    Empresas Parceiras a registrar a compra após o momento em que
                                                                    os pré-requisitos indicados na primeira parte da Cláusula 6.4. sejam
                                                                    cumpridos. O pagamento dos Pontos de Afiliado será possível
                                                                    somente após a Empresa Parceira ter reportado o pagamento da
                                                                    venda fidelizada à Multiplyx, em caso de existir algum tipo de
                                                                    estorno da empresa parceira para o afiliado, este será retirado do
                                                                    mês em que foi feita a venda.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    6.5 A Multiplyx efetuará a transferencia do saldo relativo ao bonus,
                                                                    mensalmente para a conta bancária cadastrada pelo Afiliado.
                                                                    Quando o valor for abaixo de R$ 20,00 (vinte reais), o valor vai
                                                                    acumulando para o mês seguinte até ser superior a R$ 20,00 (vinte
                                                                    reais). Caso o valor de R$ 20,00 (vinte reais) não tenha sido
                                                                    acumulado no período de 1 (um) ano, o Afiliado perderá o direito ao
                                                                    bónus. Quando o valor mínimo for alcançado e o Afiliado não tiver
                                                                    informado os seus dados bancários para pagamento, o crédito irá
                                                                    expirar no prazo de 1 (um) mês. No momento em que o Afiliado
                                                                    alcançar o valor mínimo para pagamento e não tiver dados
                                                                    bancários cadastrados, ele será notificado, por e-mail, pelo app, ou
                                                                    por outro meio de comunicação, da necessidade de informar os
                                                                    dados bancários e as consequências de perda do benefício caso os
                                                                    dados bancários não sejam informados dentro do período de 1 (um)
                                                                    mês.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    6.6 Para ter direito ao recebimento do bônus, o afiliado deverá
                                                                    emitir documento fiscal em favor da empresa MULTIPLYX, para a
                                                                    devida comprovação.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    <strong>7. Pontos</strong>
</p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    7.1 Os Afiliados são creditados com um determinado número de
                                                                    Pontos por compras feitas através do seu ID nas Empresas
                                                                    Parceiras que ofereçam este benefício.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    7.2 As condições e a quantidade nas quais os Pontos são
                                                                    creditados dependerá do valor das compras, assim como das
                                                                    condições acordadas com a respectiva Empresa Parceira. Os
                                                                    pontos relativos a cada produto, ou valor estão descritos no app em
                                                                    cada produto.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    7.3 Os Pontos não possuem um valor nominal fixo. O seu valor é
                                                                    determinado de acordo com o valor consumido, com o produto e
                                                                    com a negociação com o parceiro. Os Pontos não poderão ser
                                                                    transferidos para outras pessoas. São pessoais e intransmiciveis.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    7.4 Os Pontos acumulados serão creditados aos Afiliados e o seu
                                                                    saldo pode ser acompanhado no app da Multiplyx, na Área Pessoal
                                                                    de Afiliado.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    7.5 Todos os Pontos serão zerados no ultimo dia de cada mês.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    <strong>8. Área Pessoal de Afiliado</strong>
</p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    8.1 A Multiplyx providenciará para cada Afiliado sua Área Pessoal
                                                                    de Afiliado dentro do app (área reservada), onde, após inserir os
                                                                    seus dados de login, o Afiliado pode, a qualquer momento,
                                                                    consultar suas compras, seu nivel de Bónus, bem como parceiros
                                                                    ativos, produtos e varias outras informações. A Multiplyx não
                                                                    assumirá qualquer responsabilidade por qualquer impossibilidade
                                                                    de acessibilidade às páginas online da multiplyx ou ao app na área
                                                                    de login, comprometendo-se a resolver, problemas relacionados
                                                                    com a acessibilidade ao app da multiplyx nos termos da Cláusula
                                                                    12.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    8.2 O Afiliado deverá armazenar com segurança os dados de
                                                                    acesso para o uso da Área Pessoal de Afiliado (login e Password) e
                                                                    tratá-los de forma estritamente confidencial. O nome de usuário e
                                                                    senha não podem, em caso algum, serem informados a terceiros.
                                                                    Algumas configurações pessoais poderão ser alteradas pelo Afiliado
                                                                    a qualquer momento através da sua área restrita.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    8.3 O Afiliado compromete-se a notificar imediatamente a multiplyx
                                                                    sobre qualquer utilização indevida da sua Área Pessoal de Afiliado.
                                                                    Após o bloqueio imediato do seu acesso, os dados de acesso
                                                                    alterados deverão ser posteriormente enviados ao Afiliado por
                                                                    mensagem de texto (SMS), e-mail ou por correio. A multiplyx não
                                                                    será responsável por qualquer danos sofridos pelo Afiliado como
                                                                    resultado de utilização indevida da sua Área Pessoal de Afiliado
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    <strong>
                                                                        9. Mudança de Indicador: Os Afiliados que não efetuarem compras
                                                                        nas Empresas Parceiras dentro de um período de 6 (seis) meses
                                                                        poderão ser excluidas.
                                                                    </strong>
</p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    10.1 Na medida em que seja necessário operacionalizar o cálculo
                                                                    dos Pontos de Afiliado, a multiplyx será responsável pela coleta,
                                                                    armazenamento e processamento dos dados pessoais, tais como
                                                                    dados sobre o comportamento de compra e as compras efetuadas
                                                                    pelos Afiliados. O Afiliado autoriza a multiplyx a também utilizar os
                                                                    dados dos Afiliados para fornecer informações personalizadas
                                                                    sobre ofertas e produtos da multiplyx ou de Empresas Parceiras
                                                                    multiplyx.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    10.2 Todas as questões relacionadas à informação, retificação ou
                                                                    retirada dos dados poderão ser enviadas diretamente, por e-mail
                                                                    para multiplyxbrasil@hotmail.com.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    10.3 A multiplyx implementa tecnologias de segurança a fim de
                                                                    proteger os dados dos seus usuários contra o acesso não
                                                                    autorizado através da internet nos termos da Cláusula 12.. A
                                                                    multiplyx não será responsável pela segurança dos dados que
                                                                    sejam transmitidos.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    <strong>11. Interrupções no Serviço</strong>
</p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    11.1 O escopo dos serviços oferecidos pela multiplyx é restrito à
                                                                    operação do Programa Multiplyx, conforme descrito nestes Termos
                                                                    e Condições dos Afiliados.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    11.2 Os direitos e obrigações relacionados com as compras
                                                                    efetuadas por Afiliados junto das Empresas Parceiras serão
                                                                    aplicados unicamente às Empresas Parceiras. Após a celebração
                                                                    do contrato com a Empresa Parceira, a multiplyx não assume,
                                                                    qualquer garantia ou responsabilidade pelas obrigações relativas
                                                                    aos serviços da Empresa Parceira, em particular, no que diz
                                                                    respeito ao possível não cumprimento ou cumprimento incorreto por
                                                                    parte da mesma.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    <strong>12. Responsabilidade</strong>
</p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    12.1 A multiplyx não é e nem será responsável: (a) pela qualidade
                                                                    da conexão do computador e/ou dispositivo móvel do Usuário à
                                                                    internet em qualquer circunstância, (b) pela disponibilidade ou não
                                                                    dos serviços de acesso à internet prestados por terceiros, (c) pela
                                                                    impossibilidade de utilização de quaisquer informações ou serviços
                                                                    acima mencionados em razão de incompatibilidade da configuração
                                                                    técnica do computador e/ou dispositivo móvel dos Usuários, (d) pela
                                                                    reparação de danos de qualquer natureza causados pela quebra de
                                                                    privacidade ou segurança de dados dos usuários durante a conexão
                                                                    de seu computador e/ou dispositivo móvel à internet através de
                                                                    terceiros (e) (v) outros erros técnicos e eletrônicos (i) durante a
                                                                    comunicação de dados via internet e (ii) que possam existir ao usar
                                                                    o portal de internet da multiplyx, o serviço de mensagens de texto
                                                                    (SMS) multiplyx e os aplicativos multiplyx para dispositivos móveis,
                                                                    desde que tais erros não se encontrem na área de responsabilidade
                                                                    da multiplyx (f) erros técnicos e eletrônicos em relação aos quais a
                                                                    multiplyx não é responsável, que impedem o cadastro de compras
                                                                    efetuadas dentro do Programa Multiplyx (em particular, quaisquer
                                                                    falhas de monitoramento e consequente perda de dados); (g) a não
                                                                    disponibilidade de rede telefônica ou de terminais móveis, (h) falhas
                                                                    no funcionamento do dispositivo móvel dos Afiliados.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    12.2 O contrato de compra relativo aos bens e o contrato referente
                                                                    a serviços vigorará exclusivamente entre o Afiliado e a Empresa
                                                                    Parceira em questão.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    12.3 Na medida em que a responsabilidade da multiplyx seja
                                                                    restringida ou excluída, as restrições ou exclusões também serão
                                                                    aplicáveis à responsabilidade pessoal dos funcionários,
                                                                    representantes legais e subcontratados da multiplyx.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    <strong>13. Rescisão contratual pelo Afiliado</strong>
</p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    13.1 O Afiliado tem o direito de cessar a relação contratual com a
                                                                    multiplyx a qualquer momento através de declaração escrita. O
                                                                    Afiliado não poderá mais fazer compras ou a realizar quaisquer
                                                                    outras atividades como parte da relação contratual atual.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    13.2 Após o fim da relação contratual, o Afiliado terá direito apenas
                                                                    aos Pontos de Afiliado que estavam em vigor no momento do
                                                                    encerramento do contrato. Isso significa que apenas os pontos
                                                                    proveniente de compras ou serviços que tiverem sido efetuadas
                                                                    antes do cancelamento será pago. Quaisquer Pontos acumulados
                                                                    irão expirar com o encerramento do contrato.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    <strong>14. Rescisão contratual pela multiplyx</strong>
</p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    14.1 O contrato pode ser encerrado pela multiplyx de forma
                                                                    convencional, ou seja, sem motivo, mediante envio de aviso prévio
                                                                    de 30 (trinta) dias, ou por motivo justificado, com efeito imediato.
                                                                    Além dos danos substanciais aos interesses comerciais ou à
                                                                    reputação da multiplyx ou das respectivas Empresas Parceiras, são
                                                                    consideradas motivos justificados, em particular, a violação de
                                                                    obrigações contratuais. As obrigações contratuais materiais incluem
                                                                    as obrigações do Afiliado, em conformidade com as Cláusulas 2.3.,
                                                                    2.4.,2.5,2.6.2.7., 3.3. e 3.4.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    14.2 No caso de se verificar a violação culposa das referidas
                                                                    obrigações, o Afiliado deve indenizar a multiplyx, ficando, esta, livre
                                                                    de culpa. O mesmo aplica-se aos custos decorrentes de uma
                                                                    defesa contra reclamações de terceiros. Além disso, a multiplyx tem
                                                                    o direito de exigir ao Afiliado o ressarcimento dos danos resultantes
                                                                    da violação das suas obrigações, incluindo os custos legais.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    14.3 Após encerramento da relação contratual, o Afiliado terá direito
                                                                    apenas aos Pontos de Afiliado do Programa Multiplyx que estavam
                                                                    em vigor no momento do encerramento do contrato. Isso significa
                                                                    que apenas os Pontos proveniente de compras ou serviços que
                                                                    tiverem sido efetuados e pagos, antes do cancelamento, será pago.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    15. Caso a multiplyx encerre o contrato sem aviso prévio por motivo
                                                                    justificado, desde que não tenha sido causado pelo Afiliado, este
                                                                    terá ainda direito aos seus Pontos.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    <strong>16. Disposições Gerais</strong>
</p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    16.1 O Afiliado não poderá ceder ou transferir os direitos, pontos ou
                                                                    obrigações decorrentes da participação no Programa da Multiplyx
                                                                    ou usá-los como garantia contra a multiplyx sem consentimento
                                                                    prévio por escrito.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    16.2 Em circunstâncias particulares, acordos individuais por escrito,
                                                                    devem sobrepor-se aos presentes Termos e Condições Afiliados.
                                                                    Um contrato escrito ou uma confirmação escrita da multiplyx será
                                                                    fundamental para o conteúdo dos contratos deste tipo. Presume-se
                                                                    que as partes não celebraram quaisquer contratos verbais. A
                                                                    multiplyx encontra-se ainda autorizada a enviar declarações
                                                                    contratuais e a informação necessária para a execução do contrato
                                                                    com o Afiliado, através de e-mail ou de mensagem de texto (SMS),
                                                                    caso o Afiliado disponibilize os dados para contato e a isso não se
                                                                    oponha.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    16.3 Sempre que exigido pelo contexto, as definições contidas
                                                                    neste Contrato serão aplicadas tanto no singular quanto no plural o
                                                                    gênero masculino incluirá o feminino e vice-versa, sem alteração de
                                                                    significado.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    16.4 Caso alguma(s) disposição(ões) do presente contrato seja(m)
                                                                    considerada(s) total ou parcialmente ineficazes ou inexequíveis, tal
                                                                    não colocará em causa a validade das restantes disposições
                                                                    contratuais.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    16.5 AS LEIS DA REPÚBLICA FEDERATIVA DO BRASIL
                                                                    DEVERÃO REGER ESTE CONTRATO, QUAISQUER LITÍGIOS
                                                                    DECORRENTES OU RELACIONADOS AOS PRESENTES
                                                                    TERMOS DEVERÃO SER RESOLVIDOS EXCLUSIVAMENTE
                                                                    pelas cortes da comarca do domicílio da Multiplyx. Cada Afiliado
                                                                    neste documento irrevogavelmente submete e aceita a jurisdição
                                                                    original e exclusiva de tais cortes.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    16.6 Podem cadastrar-se e participar no Programa da Multiplyx
                                                                    indivíduos maiores de 18 (dezoito) anos, no exercício das suas
                                                                    capacidades jurídicas. Os menores com idade compreendida entre
                                                                    os 16 (dezesseis) e os 18 (dezoito) anos, podem cadastrar-se,
                                                                    como segundo titular, usando o app, mas somente com o
                                                                    consentimento por escrito dos seus representantes legais.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    16.7 O Afiliado compromete-se a arcar com todos os encargos,
                                                                    taxas, impostos, etc. que sejam calculados para o Afiliado,
                                                                    decorrentes do recebimento referente aos Pontos de Afiliado.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    17.1) Os produtos ou serviços em promoção nas empresas
                                                                    parceiras, podem não fazer parte da Multiplyx.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    18) É obrigatório a apresentação do cartão (virtual ou físico) de
                                                                    afiliado no ato do pagamento nas empresas parceiras para serem
                                                                    registados os pontos.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    19) A MULTIPLYX se reserva ao direito de usar todos os dados,
                                                                    para ações de marketing ou outras que sejam necessárias para a
                                                                    melhoria da empresa.
                                                                </p>

                                                                <p align="justify" style="margin-right:8px">
                                                                    20) Em caso de morte do afiliado, automaticamente o nome do
                                                                    segundo titular, passa a ficar á frente do negócio.
                                                                </p>

                                                                <div class="ps__rail-x" style="left: 0px; bottom: -71px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 71px; height: 296px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 28px; height: 117px;"></div></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </section>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="d-inline-block custom-control custom-checkbox mr-1">
                                                        <input type="checkbox" name="termos" class="custom-control-input" id="termos">
                                                        <label class="custom-control-label" for="termos">Eu aceito os termos e condições.</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-actions">
                                    <button type="submit" id="cadastrar" class="btn btn-primary" disabled>
                                        <i class="la la-check-square-o"></i> Cadastrar
                                    </button>
                                    @*<a href="/Usuario/Index" class="btn btn-warning mr-1"><i class="ft-x"></i> Cancelar</a>*@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
else
{
    <h1>Convite inválido</h1>
}

@section Scripts
{
    <partial name="_componente_form_validation_fluent_messages_script" />

    <script>

    function iniciar_Banco() {
        var objs = [];
        objs.push({ id: "@Model.BancoId", text: "@Model.BancoNome" });
        return objs;
    }

    function iniciar_PlanoAssinatura() {
        var objs = [];
        objs.push({ id: "@Model.PlanoAssinaturaId", text: "@Model.PlanoAssinaturaNome" });
        return objs;
    }

        $(document).ready(function () {

            $('#termos').click(function () {
                if ($('#termos').is(':checked') === true) {
                    $('#cadastrar').attr("disabled", false);
                } else {
                    $('#cadastrar').attr("disabled", true);
                }
            });

        });

    //Cel mask
	$('.phone-formatter').formatter({
		'pattern': "({{99}}) {{99999}}-{{9999}}"
    });

    //Cel mask
	$('.cpf-formatter').formatter({
		'pattern': "{{999}}.{{999}}.{{999}}-{{99}}"
    });

     //Cel mask
	$('.cep-formatter').formatter({
		'pattern': "{{99}}.{{999}}-{{999}}"
	});
    </script>

}


