
@{
    ViewData["Title"] = "Invite";
    Layout = "~/Views/Shared/_LayoutSemMenu.cshtml";
}

@using Multiplix.UI.Utils
@using Multiplix.Domain.Enums
@model Multiplix.Domain.DTOs.UsuarioDTO


@if (ViewBag.UserValido == "s")
{
    <h1>Você foi convidado a entrar na rede de <strong>@ViewBag.NomePatrocinador</strong> </h1>
    <h4>Cadastre-se agora para obter o seu acesso.</h4>

    <partial name="_componente_form_validation_fluent_messages_container" />

    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Dados para cadastro</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <form method="post" id="form-patrocinador" class="form form-horizontal">
                                <input type="hidden" name="PatrocinadorId" value="@ViewBag.PatrocinadorId" />
                                <input type="hidden" name="Nivel" value="@ViewBag.Nivel" />
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Dados pessoais</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Nome">Nome completo*</label>
                                                <input type="text" id="Nome" asp-for="Nome" class="form-control" placeholder="Nome" name="Nome">
                                            </div>
                                        </div>                         
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="CPF">CPF*</label>
                                                <input type="text" id="CPF" asp-for="CPF" class="form-control cpf-formatter" placeholder="CPF" name="CPF">
                                            </div>
                                        </div>
                                    </div>

                                    <h4 class="form-section"><i class="ft-edit-3"></i> informações para contato</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Email">E-mail*</label>
                                                <input type="text" id="Email" asp-for="Email" class="form-control" placeholder="Email" name="Email">
                                            </div>
                                        </div>                                      

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Celular">Celular</label>
                                                <input type="text" id="Celular" autocomplete="off" asp-for="Celular" class="form-control phone-formatter" placeholder="Celular" name="Celular">
                                            </div>
                                        </div>
                                    </div>                               

                                    <h4 class="form-section"><i class="ft-check-square"></i> Plano de Assinatura*</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="PlanoAssinatura">Plano</label>
                                                <select id="PlanoAssinatura"
                                                        name="PlanoAssinatura"
                                                        class="has-select2"
                                                        data-select2-url="/PlanoAssinatura/PesquisaPlanoAssinatura"
                                                        data-js-callback-init-data="iniciar_PlanoAssinatura"
                                                        data-mapper-attr-id="PlanoAssinaturaId"
                                                        data-mapper-attr-text="PlanoAssinaturaNome">
                                                    <!-- Select2 -->
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <h4 class="form-section"><i class="ft-clipboard"></i> Dados de acesso</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Login">Login*</label>
                                                <input type="text" id="Login" asp-for="Login" autocomplete="off" class="form-control" placeholder="Login" name="Login">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Senha">Senha*</label>
                                                <input type="password" id="Senha" autocomplete="off" class="form-control" placeholder="Senha" name="Senha">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Cadastrar
                                    </button>
                                    @*<a href="/Usuario/Index" class="btn btn-warning mr-1"><i class="ft-x"></i> Cancelar</a>*@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
else
{
    <h1>Convite inválido</h1>
}

@section Scripts
{
    <partial name="_componente_form_validation_fluent_messages_script" />

    <script>

    function iniciar_Banco() {
        var objs = [];
        objs.push({ id: "@Model.BancoId", text: "@Model.BancoNome" });
        return objs;
    }

    function iniciar_PlanoAssinatura() {
        var objs = [];
        objs.push({ id: "@Model.PlanoAssinaturaId", text: "@Model.PlanoAssinaturaNome" });
        return objs;
    }

    //Cel mask
	$('.phone-formatter').formatter({
		'pattern': "({{99}}) {{99999}}-{{9999}}"
    });

    //Cel mask
	$('.cpf-formatter').formatter({
		'pattern': "{{999}}.{{999}}.{{999}}-{{99}}"
    });

     //Cel mask
	$('.cep-formatter').formatter({
		'pattern': "{{99}}.{{999}}-{{999}}"
	});
    </script>

}


